In [1]:
# импорт модулей
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Поработаем с несколькими небольшими датасетами

In [2]:
!wget https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/seminars/grades.csv

"wget" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

In [3]:
df = pd.read_csv('https://github.com/hse-ds/iad-intro-ds/raw/master/2022/seminars/grades.csv', 
                 sep=',', 
                 index_col=0)

In [4]:
# вывести голову таблицы
df.head()

         hash    0    1    2    3    4    5    6    7    8
0  cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1  caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2  5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3  3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4  bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [5]:
# вывести хвост таблицы
df.tail()

          hash    0    1    2    3    4    5    6    7    8
33  c11c124eb9  0.0  1.0  1.0  0.8  0.5  0.5  0.0  0.0  0.7
34  8b4c1af94b  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
35  e1388f2aae  0.0  0.5  0.0  0.0  0.0  0.0  0.0  0.0  0.0
36  ee55242421  0.8  1.0  0.0  0.7  0.0  1.0  0.0  0.9  0.0
37  d6c40a7f4b  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [6]:
# выбрать 5 случайных строк
df.sample(n=5)

          hash    0    1    2    3    4    5    6    7    8
37  d6c40a7f4b  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
34  8b4c1af94b  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.7
7   99fe117fcb  0.8  0.0  1.0  0.9  1.0  1.0  0.5  0.0  0.0
31  33979cb9cb  0.8  1.0  0.7  1.0  0.5  0.2  0.0  0.0  0.7
15  7174532c74  0.2  0.9  1.0  1.0  1.0  0.0  0.0  0.0  0.0

In [7]:
# выбрать 30% случайных строк
df.sample(frac=0.3)

          hash    0    1    2    3    4    5    6    7    8
28  b8132ed8db  0.8  1.0  1.0  1.0  0.5  0.0  0.5  0.0  0.0
9   1eea619f12  0.8  1.0  0.0  0.2  0.5  0.2  0.0  0.0  0.2
13  15360bcc4c  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
17  bae2523189  0.8  1.0  0.5  1.0  0.5  0.5  0.5  0.0  0.6
26  d7955cb7bc  0.0  0.7  1.0  1.0  0.0  0.5  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
6   2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
23  6134e7ea6f  0.8  1.0  1.0  1.0  0.5  0.2  0.5  0.0  0.7
27  237fe82b6f  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [13]:
# выбрать 5 строк с наибольшими значениями в столбцах '3', '4'
df.nlargest(n=5, columns=['3', '4'])

          hash    0    1    2    3    4    5    6    7    8
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
15  7174532c74  0.2  0.9  1.0  1.0  1.0  0.0  0.0  0.0  0.0
20  6588f97aea  0.0  0.6  1.0  1.0  1.0  0.5  0.0  0.0  0.7
6   2a5a018502  0.9  1.0  1.0  1.0  0.8  0.0  0.5  0.0  0.7

In [14]:
# подсчитать количество уникальных значений в столбце 3
df['3'].nunique()

7

In [15]:
# подсчитать сколько раз встретилось в столбце '3' каждое уникальное значение
df['3'].value_counts()

1.0    20
0.0     8
0.7     4
0.5     3
0.9     1
0.2     1
0.8     1
Name: 3, dtype: int64

In [16]:
# склеить две таблицы по строкам
df1 = df.iloc[:5]
df2 = df.iloc[10:15]
pd.concat([df1, df2])

          hash    0    1    2    3    4    5    6    7    8
0   cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1   caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2   5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3   3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4   bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  f9f854aa44  1.0  0.9  0.0  0.5  0.5  0.0  0.0  0.0  0.0
11  6346ddfdb5  0.0  1.0  1.0  0.0  0.5  0.0  0.5  0.0  0.7
12  b5c2ae4623  0.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.6
13  15360bcc4c  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  a2d96fe1d4  0.0  0.7  1.0  1.0  0.0  0.0  0.0  0.0  0.0

In [17]:
# склеить две таблицы по столбцам
df1 = df[['hash', '1']]
df2 = df[['3', '4']]
pd.concat([df1, df2], axis=1).head()

         hash    1    3    4
0  cbe32a2a1b  1.0  1.0  1.0
1  caa93590ad  0.2  0.7  0.0
2  5bbe47f96d  1.0  1.0  1.0
3  3f187965b9  0.0  1.0  0.5
4  bf1e56e185  0.0  0.0  0.0

### DataFrame.merge - объединение таблиц (аналог SQL: JOIN)

In [19]:
# таблица с оценками
df_grades = pd.read_csv('https://github.com/hse-ds/iad-intro-ds/raw/master/2022/seminars/grades.csv', index_col=0)
df_grades.head()

         hash    0    1    2    3    4    5    6    7    8
0  cbe32a2a1b  0.8  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1  caa93590ad  0.2  0.2  0.9  0.7  0.0  0.0  0.0  0.0  0.0
2  5bbe47f96d  0.8  1.0  1.0  1.0  1.0  0.0  0.5  0.0  0.0
3  3f187965b9  0.0  0.0  0.8  1.0  0.5  0.0  0.0  0.0  0.0
4  bf1e56e185  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [20]:
# таблица хэшей: ФИО студента <-> хэш
!wget https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/seminars/hashes.csv

"wget" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

In [21]:
df_hashes = pd.read_csv('https://github.com/hse-ds/iad-intro-ds/raw/master/2022/seminars/hashes.csv')
df_hashes.head()

    Группа     Фамилия      Имя     Отчество        hash
0  БПМ-161     Антонов  Алексей   Алексеевич  6875ba52f0
1  БПМ-161  Арсамакова    Алина  Ибрагимовна  7ca01c996f
2  БПМ-161     Богатов    Антон      Юрьевич  15360bcc4c
3  БПМ-161      Бычков   Андрей            -  f9f854aa44
4  БПМ-161    Высоцкий     Яков   Михайлович  1d1d05c257

In [22]:
df_grades.hash.nunique()

38

In [23]:
df_hashes.hash.nunique()

95

In [24]:
# присоединить подходящие строки из df_grades к df_hashes
df = pd.merge(df_hashes, df_grades, on='hash', how='left')
print(df.shape)
df.head(10)

(95, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
1,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,БПМ-161,Богатов,Антон,Юрьевич,15360bcc4c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,БПМ-161,Бычков,Андрей,-,f9f854aa44,1.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Высоцкий,Яков,Михайлович,1d1d05c257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,БПМ-161,Галигеров,Владислав,Сергеевич,738b683ed7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
7,БПМ-161,Городилов,Илья,Игоревич,6df2f31eb9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,БПМ-161,Дудинов,Тимур,Батырович,e1388f2aae,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,БПМ-161,Иванов,Артём,Владиславович,a2d96fe1d4,0.0,0.7,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# присоединить подходящие строки из df_hashes к df_grades
df = pd.merge(df_hashes, df_grades, on='hash', how='right')
print(df.shape)
df.head(10)

(38, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-162,Сучков,Даниил,Викторович,cbe32a2a1b,0.8,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,БПМ-161,Хмельницкий,Даниил,Анатольевич,caa93590ad,0.2,0.2,0.9,0.7,0.0,0.0,0.0,0.0,0.0
2,БПМ-162,Углов,Егор,Алексеевич,5bbe47f96d,0.8,1.0,1.0,1.0,1.0,0.0,0.5,0.0,0.0
3,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Мартынов,Никита,Игоревич,bf1e56e185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
6,БПМ-162,Островский,Всеволод,Петрович,2a5a018502,0.9,1.0,1.0,1.0,0.8,0.0,0.5,0.0,0.7
7,БПМ-162,Борисычев,Александр,Сергеевич,99fe117fcb,0.8,0.0,1.0,0.9,1.0,1.0,0.5,0.0,0.0
8,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
9,БПМ-162,Лисицына,Анастасия,Сергеевна,1eea619f12,0.8,1.0,0.0,0.2,0.5,0.2,0.0,0.0,0.2

In [26]:
# пересечение таблиц
# в данном случае эквивалентно 'right', т.к. в df_grades нет таких хэшей, которые отсутствуют в df_hashes
df = pd.merge(df_hashes, df_grades, on='hash', how='inner')
print(df.shape)
df.head(10)

(38, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
1,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,БПМ-161,Богатов,Антон,Юрьевич,15360bcc4c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,БПМ-161,Бычков,Андрей,-,f9f854aa44,1.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
5,БПМ-161,Дудинов,Тимур,Батырович,e1388f2aae,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,БПМ-161,Иванов,Артём,Владиславович,a2d96fe1d4,0.0,0.7,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,БПМ-161,Кубышкина,Екатерина,Константиновна,6588f97aea,0.0,0.6,1.0,1.0,1.0,0.5,0.0,0.0,0.7
8,БПМ-161,Мартынов,Никита,Игоревич,bf1e56e185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,БПМ-161,Плешко,Георгий,Дмитриевич,5a0a06b184,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# объединение таблиц
# в данном случае эквивалентно 'left', т.к. в df_grades нет таких хэшей, которые отсутствуют в df_hashes
df = pd.merge(df_hashes, df_grades, on='hash', how='outer')
print(df.shape)
df.head(10)

(95, 14)

,Группа,Фамилия,Имя,Отчество,hash,0,1,2,3,4,5,6,7,8
0,БПМ-161,Антонов,Алексей,Алексеевич,6875ba52f0,0.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
1,БПМ-161,Арсамакова,Алина,Ибрагимовна,7ca01c996f,0.5,0.8,0.5,0.5,0.0,0.0,0.0,0.0,0.0
2,БПМ-161,Богатов,Антон,Юрьевич,15360bcc4c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,БПМ-161,Бычков,Андрей,-,f9f854aa44,1.0,0.9,0.0,0.5,0.5,0.0,0.0,0.0,0.0
4,БПМ-161,Высоцкий,Яков,Михайлович,1d1d05c257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,БПМ-161,Галигеров,Владислав,Сергеевич,738b683ed7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,БПМ-161,Гончаров,Глеб,Игоревич,3f187965b9,0.0,0.0,0.8,1.0,0.5,0.0,0.0,0.0,0.0
7,БПМ-161,Городилов,Илья,Игоревич,6df2f31eb9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,БПМ-161,Дудинов,Тимур,Батырович,e1388f2aae,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,БПМ-161,Иванов,Артём,Владиславович,a2d96fe1d4,0.0,0.7,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# выбрать из таблицы хэшей только те строки, в которых хэш есть в таблице оценок
# т.е. отобрать тех студентов, которые писали контрольную и были оценены
df = df_hashes[df_hashes.hash.isin(df_grades.hash)]
print(df.shape)
df.head()

In [ ]:
# сколько человек из каждой группы были оценены?
df.Группа.value_counts()

### DataFrame.groupby - группировка строк

In [ ]:
# сгруппировать строки по столбцу '1'
gr = df_grades.groupby(by='1')
gr

In [ ]:
# какая средняя оценка (и ее дисперсия) за другие задачи у студентов, получивших конкретную оценку по задаче '1'?

In [ ]:
gr.mean()

In [ ]:
# дисперсия
gr.var()

In [ ]:
# откуда взялись NaN?

In [ ]:
gr.get_group(0.2)

### Самый знаменитый датасет от Титаника

Каждая строчка наборов данных содержит следующие поля:

- Pclass — класс пассажира (1 — высший, 2 — средний, 3 — низший);

- Name — имя;

- Sex — пол;

- Age — возраст;

- SibSp — количество братьев, сестер, сводных братьев, сводных сестер, супругов на борту титаника;

- Parch — количество родителей, детей (в том числе приемных) на борту титаника;

- Ticket — номер билета;

- Fare — плата за проезд;

- Cabin — каюта;

- Embarked — порт посадки (C — Шербур; Q — Квинстаун; S — Саутгемптон;

- Survived - пассажир выжил или нет.

В поле Age приводится количество полных лет. Для детей меньше 1 года — дробное. Если возраст не известен точно, то указано примерное значение в формате xx.5.

In [ ]:
df = pd.read_csv("http://tiny.cc/pandas_data", sep=";")

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
# типы данных
df.dtypes

In [ ]:
# на просмотр может быть выведен только один стобец
Y = df["Survived"]
Y.head()

In [ ]:
df[["Survived", "Age"]].head()

In [ ]:
# удаление данных одного из столбцов
X = df[df.columns.drop("Survived")]

In [ ]:
X = df.drop("Survived", axis=1) # same thing as previous cell

In [ ]:
X.shape, df.shape

In [ ]:
# выделение части строк
X.loc[[5, 8, 10]] # selected by index; select rows

In [ ]:
# изменение индексации
df.set_index("Name").head()

### Анализ данных

In [ ]:
df.describe()

In [ ]:
set(df["Sex"])

In [ ]:
len(set(df["Name"]))

In [ ]:
df["Sex"].value_counts()

In [ ]:
df.pivot_table('PassengerId', 'Sex', 'Survived', 'count').plot(kind='bar', stacked=True)
#Вывод из полученных гистограмм?

In [ ]:
df.pivot_table('PassengerId', 'Pclass', 'Survived', 'count').plot(kind='bar', stacked=True)
#Вывод из полученных гистограмм?

In [ ]:
fig, axes = plt.subplots(ncols=2)
df.pivot_table('PassengerId', ['SibSp'], 'Survived', 'count').plot(ax=axes[0], title='SibSp')
df.pivot_table('PassengerId', ['Parch'], 'Survived', 'count').plot(ax=axes[1], title='Parch')

#Вывод?

In [ ]:
df.plot(x="PassengerId", y="Fare", kind="bar")

### Обработка и преобразование данных

In [ ]:
df.head(2)

In [ ]:
# преобразуем текстовый признак "Пол" в числовые значения
df["DecodedSex"] = df["Sex"].map({"male":1, "female":-1, "unknown":0})
df.head(2)

In [ ]:
# добавим еще одну характеристику для каждого объекта датасета
def fun(age):
    return age / 100

df["NewAge"] = df["Age"].apply(fun)
df.head(2)

In [ ]:
# то же самое можно сделатьс. помощью лямбда функции
df["NewAge"] = df["Age"].apply(lambda age: age/100)

In [ ]:
df.head(2)

In [ ]:
# выделим фамилию из данных
df["Surname"] = df["Name"].apply(lambda name: name.split(";")[0]) # option1

In [ ]:
df["Surname"] = df["Name"].apply(lambda name: name[:name.find(";")]) # p[tion 2]

In [ ]:
df["Surname"].value_counts().head()

In [ ]:
df.values # df -> numpy.array

In [ ]:
# Исследуем возраст пассажиров Титаника
df.groupby("Sex")["Age"].mean()

In [ ]:
df.groupby("Sex")["Age"].apply(np.mean)

In [ ]:
df.groupby("Sex")["Age"].apply(lambda ages: np.mean(ages)**2)

In [ ]:
df.groupby("Survived")["Age"].apply(np.mean)

In [ ]:
# .mean -> .count
# Сколько семей больше трех человек?
np.sum(df.groupby("Surname")["Name"].count() > 3)

In [ ]:
# Сколько семей, в которых минимальный возраст меньше 10 лет?
np.sum(df.groupby("Surname")["Age"].apply(min) < 10)

In [ ]:
# можно выделять объекты с помощью масок
# cоздание маски
(df["Age"]>10) & (df["Age"]<20)

In [ ]:
# пассажиры, удовлетворяющие условию
df.loc[(df["Age"]>10) & (df["Age"]<20)]

### Доп материалы


[Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

[10 Minutes To Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)

[Pandas CookBook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)